<html>

<head>
    <title>Kubernetes login</title>
</head>

<body style="margin: 0px; background-color: #edeff0;">
    <div style="margin-left: auto; margin-right: auto; width: 800px;">
        <div style="background-color: #326de6; color: #ffffff; padding: 15px; font-weight: bold; font-size: x-large;">
            Kubernetes Dashboard
        </div>
        <div style="background-color: #ffffff; padding: 10px 15px 10px 15px;">
            {{if .}}<div style="margin-top: 20px; color: #ff0000; font-weight: bold;">{{.}}</div>{{end}}
            <form action="/login" method="POST">
                <div style="margin-top: 20px;">
                    <label>Username</label>
                    <input name="username" id="username" autocomplete="username"
                        style="width: 200px; border-style: solid; border-radius: 5px;">
                </div>
                <div style="margin-top: 20px;">
                    <label>Password</label>
                    <input name="password" id="password" autocomplete="current-password" type="password"
                        style="width: 200px; border-style: solid; border-radius: 5px;">
                </div>
                <div style="margin-top: 20px;">
                    <button
                        style="border-style: solid; background-color: #326de6; color: #ffffff; font-weight: bold; padding: 10px; border-radius: 5px; cursor: pointer;">Sign
                        In</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>