<html>

<head>
    <title>Kubernetes login</title>
</head>

<body style="margin: 0px; background-color: #edeff0;">
    <div style="margin-left: auto; margin-right: auto; width: 800px;">
        <div style="background-color: #326de6; color: #ffffff; padding: 15px; font-weight: bold; font-size: x-large;">
            Kubernetes Dashboard
        </div>
        <div style="background-color: #ffffff; padding: 10px 15px 10px 15px;">
            <form action="/login?step=role" method="POST">
                <input type="hidden" name="step" value="role">
                <input type="hidden" name="assertion" value="{{.Assertion}}">
                <div style="margin-top: 20px;">
                    <label>Role</label>
                    <select name="role" style="width: 100%; padding: 10px; border-radius: 5px;">
                    {{range $key, $value := .Roles}}
                    <option value="{{$value}}">{{$key}}</option>
                    {{end}}
                    </select>
                </div>
                <div style="margin-top: 20px;">
                    <button
                        style="border-style: solid; background-color: #326de6; color: #ffffff; font-weight: bold; padding: 10px; border-radius: 5px; cursor: pointer;">Sign
                        In</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>